/* font-family: 'Poppins', sans-serif; */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
}

section {
  padding: 3rem 0;
}

.navbar {
  height: auto;
  background-color: white;
  box-shadow: 0.2rem 0.2rem 2rem #333;
}

.navbar ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.navbar ul li {
  display: inline-block;
  margin: 2rem 5rem;
}

.navbar ul li a {
  font-size: 2.5rem;
  font-weight: 900;
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  background-color: orange;
  padding: 1rem 2rem;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
}

.hero__section {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 10rem 0;
}

.hero__section--text {
  width: 45%;
  margin: 5%;
}

.hero__section--text h1 {
  font-size: 5.5rem;
  color: #575757;
}

.hero__text--color {
  color: orange;
}

.hero__section--text p {
  margin: 7rem 0;
  letter-spacing: 0.2rem;
  font-size: 2rem;
  color: #575757;
}

.btn {
  font-size: 2rem;
  font-weight: 500;
  color: ghostwhite;
  text-decoration: none;
  padding: 1.6rem 4rem;
  background-image: linear-gradient(to left, #fb934a, #fe5131);
  border-radius: 300px;
  -webkit-border-radius: 300px;
  -moz-border-radius: 300px;
  -ms-border-radius: 300px;
  -o-border-radius: 300px;
  text-transform: capitalize;
}

.hero__section--img {
  width: 45%;
  margin: 5%;
}

.hero__section--img img {
  width: 100%;
}

/* about section start */
.about__section {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(./images/7.png);
  background-repeat: no-repeat;
}

.about__section--img {
  width: 40%;
}

.about__section--img img {
  width: 60%;
}

.about__section--text {
  width: 40%;
}
.about__section--text h1 {
  font-size: 5rem;
  text-transform: capitalize;
  color: #707070;
  font-weight: 900;
  margin-bottom: 3rem;
}

.about__section--text p {
  font-size: 2rem;
  letter-spacing: 0.1rem;
  margin-bottom: 6rem;
}
/* about section end */

/* recipies section */
.recipies {
  text-align: center;
  height: auto;
  width: 100vw;
  background-color: #fdfdfd;
}

.recipies__heading {
  font-size: 4rem;
  text-transform: capitalize;
  color: #707070;
  font-weight: 900;
  margin-bottom: 3rem;
}

.recipies__para {
  font-size: 2rem;
  letter-spacing: 0.1rem;
  font-weight: 300;
  color: #2f2f2f;
  margin: 3rem 0;
}

.recipies__items {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 3rem;
}

.recipies__items .card {
  height: auto;
  width: 25%;
  margin: 0 3rem;
  padding: 0.5rem;
  border-radius: 20px;
  box-shadow: 0.5rem 0.5rem 0.5rem rgb(221, 212, 212),
    -0.5rem -0.5rem 1rem rgb(221, 212, 212);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.recipie-img {
  width: 90%;
  margin: 2.5%;
  padding-top: 1rem;
}

.card h1 {
  font-size: 3rem;
  text-align: left;
  font-weight: 800;
  margin: 1rem 0;
  padding: 1rem 2rem;
}

.card p {
  font-size: 1.5rem;
  text-align: left;
  margin: 1rem 0;
  padding: 1rem 2rem;
  font-weight: 300;
  letter-spacing: 0.1rem;
}

/* recipies section end */ ;
